body {
  margin: 0px;
}

::-webkit-scrollbar {
  /* Width of vertical scroll bar*/
  width: 8px;
  /* Height of horizontal scroll bar*/
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ff8400f5;
}

::-webkit-scrollbar-track {
  background: #1e2124;
}

::-webkit-scrollbar-thumb:hover {
  background: #da7000;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
