html {
  background-color: #080a0f;
}
body {
  margin: 0px;
  overflow-x: hidden;
  background-color: #080a0f;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #080a0f;
}
::-webkit-scrollbar-horizontal {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #293040;
  border-radius: 10px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #141a29;
}
