<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myriade</title>
    <link rel="preload" as="image" href="/assets/img/DM2.webp" />
    <link rel="preconnect" href="https://call.chatra.io" crossorigin />
    <link rel="preconnect" href="https://chat.chatra.io" crossorigin />
  </head>
  <body>
    <div id="root"></div>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"
    ></script>
  </body>
</html>
