<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myriade</title>
    <link rel="preload" as="image" href="/assets/img/DM2.webp" />
    <link
      rel="preload"
      as="image"
      href="/assets/img/Historical-Metrics-3-Month-Card.webp"
    />

    <link rel="preload" src="/assets/img/DM.webp" />
    <link rel="preconnect" defer src="https://call.chatra.io" />
    <link
      rel="preconnect"
      defer
      Minimize
      main-thread
      work
      4.8
      ssrc="https://chat.chatra.io"
    />
    <script
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"
    ></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
